<?php
//include a la variable con el passwd

return array(

	/*
	|--------------------------------------------------------------------------
	| Database Name
	|--------------------------------------------------------------------------
	*/

	'database'  => 'nombreBD',

	/*
	|--------------------------------------------------------------------------
	| Database Username
	|--------------------------------------------------------------------------
	*/

	'username'  => 'usuarioBD',
	

	/*
	|--------------------------------------------------------------------------
	| Database Password
	|--------------------------------------------------------------------------
	*/

	'password'  => 'passwdBD',

	/*
	|--------------------------------------------------------------------------
	| Database Hostname
	|--------------------------------------------------------------------------
	*/

	'hostname'  => 'localhost',

	/*
	|--------------------------------------------------------------------------
	| Database Table Prefix
	|--------------------------------------------------------------------------
	*/

	'prefix'    => '',

	/*
	|--------------------------------------------------------------------------
	| Database Driver
	|--------------------------------------------------------------------------
	*/

	'driver'    => 'mysql',

	/*
	|--------------------------------------------------------------------------
	| Database Charset
	|--------------------------------------------------------------------------
	*/

	'charset'   => 'utf8',

	/*
	|--------------------------------------------------------------------------
	| Database Collation
	|--------------------------------------------------------------------------
	*/

	'collation' => 'utf8_general_ci', 
);
